body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,form,fieldset,input,textarea,blockquote,p{
	padding: 0;margin:0;
}
ul,ol{
	list-style: none;
}
body{
	background: url(../images/bg.png);
}
a{
	text-decoration: none;
}
img{
	border: 0 none;
}
.mainbox{
/*	border: 1px solid red;*/
	width: 960px;
	margin: 0 auto;
}
#zixunbox{
	width: 104px;
	height: 114px;
	position: absolute;
	top: 100px;
	right: 10px;
	z-index:1000;
}


#zixunbox a img{
	width: 104px;
	height: 114px;
}


.logo{
	height: 95px;
	position: relative;
/*	border: 1px solid blue;*/
}
.logol{
	float: left;
	padding-left: 65px;
	margin-top: 30px;
/*	border: 1px solid red;*/

}
.logo span{
/*	border: 1px solid green;*/
	font-size: 16px;
	font-family: "黑体";
	font-weight: bold;
	letter-spacing: 4px;
	float: left;
	text-indent: 13px;
	margin-top: 45px;
	color: #9a7310;
}
.phone{
	width: 170px;
	height: 35px;
	margin: 48px 55px 9px 0;
	float: right;
}

.setindex{
	position: absolute;
	right: 60px;
	top:16px;

}
.setindex ul li {
		display: inline-block;
		
}

.setindex a{
	font-size: 14px;
	color: #615918;
	font-weight: bold;
}
/*                   老师的版本                            */

/*.logo{
	height: 95px;
	line-height: 95px;
	position: relative;
	border: 1px solid red;
}
.logol{
	width: 120px;
	height: 33px;
	line-height: 33px;
	float: left;
	position: absolute;
	bottom: 15px;
	left: 65px;
/*	border: 1px solid green;*/
/*}
.logofont{
	position: absolute;
	float: left;
	bottom: 15px;
	margin-left: 175px;
/*	border: 1px solid blue;*/
/*
}
.logospan{
	font-size: 18px;
	line-height: 18px;
	float: left;
	width: 300px;
	font-weight: bold;
	letter-spacing: 5px;
	color: #c30;
	font-family: "黑体";
/*	border: 1px solid #fff;*/

/* }  */
.mainmenu{
		position: relative;
}
.nav{
	width: 960px;
	height: 44px;


	background: url(../images/cd.gif) repeat-x;
}
.nav ul li{
	width: 80px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
	background: url(../images/jg.jpg) no-repeat center right;
}
.nav ul li a{
	color: #6d6532;
}

#nav1{
	position: absolute;
	top: 44px;
	left: 168px;
	display: none;
	z-index: 1000;
}
#nav1 ul li {
	width: 87px;
	line-height: 30px;
	background: #f6f1dc;
	text-align: center;
	border-bottom: 1px solid #dad3b5;

}

#nav1 ul li a{
	color: black;
}
#nav2{
	position: absolute;
	top: 44px;
	left: 256px;
	display: none;
	z-index: 1000;
}
#nav2 ul li {
	width: 87px;
	line-height: 30px;
	background: #f6f1dc;
	text-align: center;
	border-bottom: 1px solid #dad3b5;

}

#nav2 ul li a{
	color: black;
}
.bannerbox{
	position: relative;
	height: 500px;
}
.spanbtn{
	position: absolute;
	bottom: 20px;
	right: 10px;
}
.spanbtn span{
	width: 24px;
	height: 24px;
	display: inline-block;
	border: 1px solid #fff;
	text-align: center;
	margin-left: 15px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.spanbtn span:hover{
	font-size: 20px;
	background: #ab7228;
	border: 2px solid #d7d7d7;
}

.bottombox{
	height: 100px;
	width: 960px;
	padding-top: 30px;
	margin: 0 auto;

}

.bottombox p{
	font-size: 12px;
	margin-top:8px;
	font-family: "宋体";
	font-weight: bold;
	color: #534d43;
	text-indent: 140px;
}