.middlebox{
	width: 960px;
	height: 800px;
	background: #fff;
}


.newslistleft{
	width: 240px;
	height:800px;
/*	border: 1px solid red;*/
	
}

.box1 h1, .box2 h1, .box3 h1{
	background: #363601;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	color: #fff;
	text-indent: 20px;
}

.box1 ul li, .box3 ul li{
	background: #dadde5;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	text-indent: 15px;
}

.box2 ul li{
	line-height: 30px;
	text-indent: 15px;
}

.box1 a, .box2 a, .box3 a{
	color: black;
	font-size: 14px;
	font-family: "黑体";
}

.box2{
	margin-top: 9px;
}

.box2 ul li{
	list-style:inside;
	font-size: 14px;
}

/*.box2 ul li s{
	width: 3px;
	height: 3px;
	display: inline-block;
	background: url(../images/yuandian.png) no-repeat;
	vertical-align: middle;
	margin: -4px 5px 0 -8px;
}*/  /*以图片方式加入s标签实现原点的方法*/

.newslistright{
	width: 700px;
	height: 700px;
	margin-left: 20px;
}

.news img{
	width: 687px;
	display: inline-block;
	border-bottom: 1px dashed #000;
}
.newstop {
	width: 687px;
	line-height: 30px;
	text-indent: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	background: url(../images/productbiaoti.png) no-repeat;
}


.newscontent ul li{
	line-height: 36px;
	height: 36px;
	font-size:12px;
	position: relative;
}

.newscontent ul li a{
	color: #666;

}

.newscontent ul li a:link{
	color: black;
}

.newscontent ul li a:visited{
	color: blue;
}
.newscontent ul li a:hover{
	text-decoration: underline;
}

.newscontent ul li a:active{
	color: yellow;
}





.newscontent ul li span{
	position: absolute;
	right: 10px;
}

.digg{
	height: 90px;
	width: 560px;
	float: left;
	padding: 25px 70px;

}

.digg span, .digg a ,.digg h3{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	background: #4961a1;
	color: #fff;
	margin-right: 5px;
}

.digg h3{
	list-style: none;
	background: none;
	color: #4961a1;

}
