
.middlebox{
	width: 960px;
	height: 800px;
	background: #fff;
}


.prolistleft{
	width: 240px;
	height:800px;
/*	border: 1px solid red;*/
	
}

.box1 h1, .box2 h1, .box3 h1{
	background: #363601;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	color: #fff;
	text-indent: 20px;
}

.box1 ul li, .box3 ul li{
	background: #dadde5;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	text-indent: 15px;
}

.box2 ul li{
	line-height: 30px;
	text-indent: 15px;
}

.box1 a, .box2 a, .box3 a{
	color: black;
	font-size: 14px;
	font-family: "黑体";
}

.box2{
	margin-top: 9px;
}

.box2 ul li{
	list-style:inside;
	font-size: 14px;
}

/*.box2 ul li s{
	width: 3px;
	height: 3px;
	display: inline-block;
	background: url(../images/yuandian.png) no-repeat;
	vertical-align: middle;
	margin: -4px 5px 0 -8px;
}*/  /*以图片方式加入s标签实现原点的方法*/

.prolistright{
	width: 700px;
	height: 800px;
	margin-left: 20px;
}

.product img{
	width: 687px;
	display: inline-block;
	border-bottom: 1px dashed #000;
}
.contenttop {
	width: 687px;
	line-height: 30px;
	text-indent: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	background: url(../images/productbiaoti.png) no-repeat;
}
.prolist{
	width: 687px;
}

.prolist ul{
/*	border: 1px solid green;*/
	text-align: center;
	padding: 7px;
}

.prolist ul li{
/*	width: 144px;*/
	display: inline-block;
	margin: 10px 4px;
	padding: 5px 13px;
	border: 1px solid #c9cbd0;
	text-align: center;
}
.prolist ul li img{
	display: inline-block;
	width: 125px;
	height: 125px;
}
.prolist ul li span{
	display: block;
	font-size: 14px;
/*	text-indent:12px;*/
	color: black;
}






